.layout
  width: 100vw
  height: 100vh
  overflow: auto

  // Effects
  transition: color 0.3s, background 0.3s

  &__grid
    max-width: 1920px
    margin: 0 auto
    display: grid
    grid-template-columns: 300px 1fr 300px
    grid-gap: 20px

  &__header
    grid-column: 1 / span 3
    position: sticky
    top: 0px

  &__aside
    .layout__sticky
      position: sticky
      top: 140px
